<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vetspertise</title>
    <link rel="stylesheet" href="/static/homePageStyle.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/"><img src="/static/Vetspertise.png"></a>
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/templates/homePage.html">Home</a></li>
                    <li><a href="/templates/shop.html">Shop</a></li>
                   
                    <li><a href="/templates/About.html">About</a></li>
                   
            </nav>
        </div>
        <script src="scripts.js"></script>
    </header>
    <h1> About Us</h1>
    <p style="line-height: 2.0; font-size: 25px;">We love what we do but it can absolutely ruffle our feathers. 
    Vet Peeves was created to bring veterinarians together, and make light of the day to day stressors of practicing medicine. 
    This career field, while rewarding, can be both mentally and physically draining. 
    Sometimes we have to laugh to keep from crying. When the scrubs don’t fit like they used to, the otoscope is falling apart, and the barking is slowly driving you insane, 
    it’s all we can do to make it through the day. </p> 

    <p style="line-height: 2.0; font-size: 25px;">Enjoy three categories of questions to discuss, joke, and think about. 
        Play with your fellow veterinarians or anyone who understands this field. 
        Tell your stories, discuss your thoughts, and choose the best answers together. 
        Support one another as you vent your frustrations, tell that one story you’ve been waiting to tell, and know that you are not alone. </p>
    
</body>
</html>