<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vetspertise</title>
    <link rel="stylesheet" href="/static/homePageStyle.css">
</head> 
   <header>
        <div class="logo">
            <a href="/"><img src="/static/Vetspertise.png"></a>
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/templates/homePage.html">Home</a></li>
                    <li><a href="/templates/shop.html">Shop</a></li>
                   
                    <li><a href="/templates/About.html">About</a></li>
                    <li><a href="/templates/contact.html">Contact</a></li>
                   
            </nav>
        </div>
        <script src="scripts.js"></script>
    </header>
<body>

    
</body>
</html>