<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/static/homePageStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/templates/homePage.html"><img src="static/Vetspertise.png"></a>
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/templates/homePage.html">Home</a></li>
                    <li><a href="/templates/shop.html">Shop</a></li>
                   <!-- <li><a href="products.html">Products</a></li>-->
                    <li><a href="/templates/About.html">About</a></li>
                    <!--<li><a href="/search" class="search-icon"><i class="fas fa-search"></i></a></li>-->
                </ul>
            </nav>
            <div id="search-container" class="search-container">
                <input type="text" placeholder="Product...">
                <button type="submit"><i class="fas fa-search"></i></button>
              </div>
        </div>
        <script src="scripts.js"></script>
    </header>
    
</body>
</html>