<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/static/homePageStyle.css">

    <script defer src="scripts.js"></script>
</head>
 <header>
        <div class="logo">
            <a href="/"><img src="/static/Vetspertise.png"></a>
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/templates/homePage.html">Home</a></li>
                    <li><a href="/templates/shop.html">Shop</a></li>
        
                    <li><a href="/templates/About.html">About</a></li>
                  
                    
            </nav>
        
         
    </header>


    <h1>Get Ready To Play</h1>
    <body>
        <div class="products-container" id="products"></div>
    
        <section class="products-container">

            <div class="product">
                <img src="/static/Vetspertise.png" alt="game 1">
                <h2>Vetspertise</h2>
                <p>$25.00</p>
                <button>Add to cart</button>
                <button>Quick view</button>
            </div>
            <div class="product">
                <img src="/static/image.png" alt="game 2">
                <h2>Vet Peeves</h2>
                <p>$25.00</p>
                <button>Add to cart</button>
                <button>Quick view</button>
            </div>
            <div class="product">
                <img src="/static/techEdition.png" alt="game 3">
                <h2>Vetspertise Tech Edition</h2>
                <p>$25.00</p>
                <button>Add to cart</button>
                <button>Quick view</button>
            </div>

        </section>
</html>