<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/static/homePageStyle.css">

    <script defer src="scripts.js"></script>
</head>
 <header>
        <div class="logo">
            <a href="/"><img src="/static/Vetspertise.png"></a>
        </div>
        <div class="header-content">
            <nav>
                <ul>
                    <li><a href="/templates/homePage.html">Home</a></li>
                    <li><a href="/templates/shop.html">Shop</a></li>
        
                    <li><a href="/templates/About.html">About</a></li>
                  
                    
            </nav>
        
         
    </header>


    <h1>Get Ready To Play</h1>
    <body>
        <div class="products-container" id="products"></div>
    
        <section class="products-container">

            <div class="product">
                <img src="/static/Vetspertise.png" alt="game 1">
                <h2>Vetspertise</h2>
                <p>$25.00</p>
                <button>Add to cart</button>
                <button id="quick-view-btn">Quick view</button>
                <div id="quick-view-popup" class="popup">
                    <div class="popup-content">
                        <span id="close-btn" class="close-btn">&times;</span>
                        <h2>Vetspertise</h2>
                        <p> Test your knowledge on all things vet med! If you are a veterinarian, vet student, or a huge nerd who loves knowledge and fun
                             facts, this game is for you. Play alone as a refresher from all that stuff you learned in vet school, 
                            or play with others, competition style. Dates, medical terms, historical facts and more await you in this exciting 
                            veterinary trivia game. Support each other as we all learn and provide the best care possible. Get ready to show off your 
                            vetspertise! 
                             </p> 
                        
                        <img src="/static/Vetspertise.png" alt="Product Image">
                        <p>$25.00</p>
                    </div>
                </div>
            </div>


            <div class="product">
                <img src="/static/image.png" alt="game 2">
                <h2>Vet Peeves</h2>
                <p>$25.00</p>
                <button>Add to cart</button>
                <button id="quick-view-btn1">Quick view</button>
                <div id="quick-view-popup1" class="popup1">
                    <div class="popup-content1">
                        <span id="close-btn1" class="close-btn1">&times;</span>
                        <h2>Vet Peeves</h2>
                        <p>This field is fun and exciting, but it can absolutely ruffle our feathers. Vet Peeves was created to
                            bring veterinarians and our hardworking staff together, to make light of the day to day stressors of 
                            practicing medicine. This career field, while rewarding, can be mentally, physically, and 
                            psychologically draining. Sometimes we have to laugh to keep from crying. When the scrubs don't fit like
                             they used to, the otoscope is falling apart, and the barking is slowly driving you insane, it's all we 
                             can do to make it through the day. With the increased stress level this career field brings, I, Dr.
                              Qindasi Silva, hope that my game can provide much needed laughs, and a healthy outlet. 
                           Enjoy three categories of questions to discuss, joke, and think about. Play with your fellow veterinarians 
                           or anyone who understands this field. Tell your stories, discuss your thoughts, and choose the best 
                           answers together. Support one another as you vent your frustrations, tell that one story you've been 
                           waiting to tell, and know that you are 
                           not alone. </p>
                        <img src="/static/image.png" alt="Product Image">
                        <p>$20.00</p>
                    </div>
                </div>
            </div>


            <div class="product">
                <img src="/static/techEdition.png" alt="game 3">
                <h2>Vetspertise Tech Edition</h2>
                <p>$25.00</p>
                <button>Add to cart</button>
                <button id="quick-view-btn2">Quick view</button>
                <div id="quick-view-popup2" class="popup2">
                    <div class="popup-content">
                        <span id="close-btn2" class="close-btn2">&times;</span>
                        <h2>Vetspertise Tech Edition</h2>
                        <p>Show off your vetspertise in this special version just for vet techs! If you are not a veterinary technician, 
                            don't fret! Maybe you are a huge nerd with a thirst for knowledge or even a vet/tech student, this game is still for you. 
                            Strengthen your knowledge base with five categories of medical topics in this informative trivia game. Play alone and 
                            impress all your coworkers with your fancy big words, or play with others, competition style. Support each other as we all 
                            learn and provide the best care possible. As a veterinarian,
                             I could not do my job without your hard work and dedication. On behalf of us all at Vetspertise, thank you and enjoy! 
                            </p>
                        <img src="/static/techEdition.png" alt="Product Image">
                        <p>$25.00</p>
                    </div>
                </div>
            </div>

        </section>

        <script src="/scripts.js"></script>
</body>
</html>